<li id="[[componentId]]" class="ComponentListItemComponent [[if classNames]][[classNames]][[endif]]">
    [[name]] <button onclick="window.location='/admin/components/edit/?name=[[name]]';">Edit</button>
</li>
