<div id="[[componentId]]" class="NewContentFormComponent FlexColumn [[if classNames]][[classNames]][[endif]]">
    <h2 style="margin: auto;">Add Content</h2>
    [[search]]
    <div id="[[componentId]]_searchResults" class="FlexColumn"></div>

    <div class="FlexRow">
        <div class="FlexExpand"></div>
        <button disabled>Create</button>
    </div>
</div>
