<import path="/src/JSUtils/components/ModalComponent/index.html">
<import path="/src/JSUtils/components/SearchSuggestionComponent/index.html">

<script>[[driver.js]]</script>

<style>[[style.css]]</style>

<script>JSRender.addTemplate('NewContentFormComponent_template', `[[_index.html]]`);</script>
