<import path="../NewContentFormComponent/index.html">

<script>[[driver.js]]</script>

<style>[[style.css]]</style>

<script>JSRender.addTemplate('AddContentComponent_template', `[[_index.html]]`);</script>
