<div class="Appbar" id="appbar">
    <div class="FlexRow">
        <div>Admin</div>
    </div>

    <div class="FlexRow">
        <button onclick="window.location='/';">Home</button>
        <!-- <button onclick="window.location='/admin/site';">Site</button> -->
        <button onclick="window.location='/admin/pages';">Pages</button>
        <button onclick="window.location='/admin/components';">Components</button>
        <button onclick="window.location='/admin/files';">Files</button>
        <!-- <button>Page Properties</button> -->
        <!-- <button>Publish</button> -->
        <!-- <button>Log in</button> -->

        <div class="FlexExpand"></div>

        <div id="appbar-edit-mode" style="display: none;">
            <div class="FlexVerticalAlign">Edit Mode</div>
            <label class="Switch" onclick="Appbar.toggleEditMode();">
              <input type="checkbox" name="editMode" autocomplete="off">
              <span class="Slider"></span>
            </label>
        </div>
    </div>

</div>

<import path="/src/components/AddContentComponent/index.html">
<script>import('Appbar.js');</script>
